apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: guestbook-ui
        env:
        - name: ENVIRONMENT
          value: "development"
